@import 'setting.scss';

//　全般　//
body {
    color: #000000;
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans" Meiryo, 'sans-serif';
}

.page {
    width: auto;
    background-attachment: fixed;
    background-image: url(../images/inside-of-shop2.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.only-mobile {
    display: none;
}

// ヘッダー //
.top-nav {
    position: relative;
    z-index: 2;

    h1 {
        padding: 10px 0 0 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gnav {
            display: flex;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.6);
                    padding: 10px;
                    margin-right: 10px;
                }
            }

            >div {
                margin-top: -8px;
                margin-right: 80px;
            }
        }
    }
}

//　メイン //
main {
    #top {
        position: relative;
        margin-top: -110px;
        width: 100%;
        height: 900px;
        background-image: url(../images/eyecatch.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    // ニュース //    
    #news {
        margin-top: -200px;
        padding-top: 200px;
        background-color: rgba(255, 255, 255, 0.5);

        .news-wrapper {
            width: 1100px;
            margin: 0 auto 105px auto;
        }

        h2 {
            @include headline;
        }

        .lesson-content {
            width: 1100px;
            margin-bottom: 58px;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    position: relative;
                    border-radius: 20px;
                    width: 250px;
                    height: 270px;
                    background-color: #f3f3f3;

                    .category {
                        font-size: 13px;
                        padding: 2px 5px;
                        margin: 10px 5px 0 130px;
                        text-align: center;
                        width: 107px;
                        border: 1px solid #808080;
                        border-radius: 20px
                    }

                    .category-icon {
                        text-align: center;
                        width: 15%;
                        font-size: 13px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        padding: 8px 8px;
                        background-color: #333333;
                        border: 1px solid #707070;
                        border-radius: 50%;

                        img:hover {
                            transition: 0.5s;
                            transform: translateX(5px);
                        }
                    }

                    .category-icon:hover {
                        transition: 0.1s;
                        background-color: #7B68EE;
                    }

                    time,
                    p {
                        font-size: 13px;
                        padding-left: 10px
                    }
                }
            }

            .image1 {
                @include lesson-img;
                background-image: url(../images/caramel-parfait.jpeg);
            }

            .image2 {
                @include lesson-img;
                background-image: url(../images/berry-parfait.jpeg);
            }

            .image3 {
                @include lesson-img;
                background-image: url(../images/mix-parfait.jpeg);
            }

            .image4 {
                @include lesson-img;
                background-image: url(../images/raspberry-parfait.jpeg);
            }
        }

        a:nth-child(3) {
            margin: 0 auto 105px 470px;
            font-size: 13px;
            padding: 15px 50px;
            display: inline-block;
            background-color: #f1efff;
            border-radius: 20px;
        }

        a:nth-child(3):hover {
            transition: 0.5s;
            color: #ffffff;
            background-color: #7B68EE;

        }
    }

    // コンセプト //    
    #concept {
        margin-top: -105px;
        padding-top: 110px;
        width: 100%;
        height: 900px;
        background-image: url(../images/white-path-img.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        .concept-container {
            width: 1100px;
            margin: 0 auto;

            h2 {
                @include headline;
                text-align: center;
                margin-left: 530px;
            }

            .concept-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                img {
                    margin-top: -60px;
                    width: 55%;
                    border-radius: 20px;
                }

                .concept-txt {
                    margin: 0 auto;


                    p {
                        margin-left: -40px;
                        font-size: 20px;
                        line-height: 3;
                        margin-bottom: 40px;

                        span {
                            padding-left: 160px;
                        }
                    }

                    text {
                        font-size: 15px;
                        line-height: 40px;
                    }

                    div {
                        width: 140px;
                        padding: 10px 20px 10px 10px;
                        margin: 40px 0 40px 200px;
                        text-align: right;
                        display: block;
                        border: 1px solid #707070;
                        border-radius: 20px;
                        background-color: #ffffff;
                    }

                    div:hover {
                        color: #ffffff;
                        transform: translateY(-8px);
                        transition: 0.2s;
                        background-color: #7B68EE;
                    }
                }
            }
        }
    }

    // メニュー //    
    #menu {
        .menu-wrapper {
            width: 1100px;
            margin: 0 auto 40px auto;
        }

        h2 {
            @include headline;
            color: #ffffff;
        }

        .menu-outer {
            padding-bottom: 80px;
            border-radius: 30px;
            opacity: 0.9;
            text-align: center;
            width: 1100px;
            margin: 0 auto;
            background-color: #FFE4C4;
            background-image: url(../images/bg-path.svg);
            background-position: center;
            background-repeat: repeat;
            background-size: 5%;

            img {
                margin-bottom: 70px;
            }

            .menu-display {
                width: 910px;
                margin: 0 auto;

                .one-dish {
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-bottom: 20px;
                    }

                }
            }

        }

        h3 {
            padding: 70px 0 40px 0;
            font-size: 30px;
            text-align: center;

            span {
                font-size: 20px;
            }
        }

        img {
            border-radius: 20px;
            border: 1px solid #333333;
            width: 910px;
            height: 300px;
        }
    }

    // アクセス //    
    #access {
        width: 100%;
        padding-bottom: 50px;
        background-image: url(../images/access-bg-img.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        .access-wrapper {
            width: 1100px;
            margin: 0 auto;
            padding-top: 150px;

            h2 {
                @include headline;
                text-align: right;
                padding-right: 150px;

                span {
                    padding-right: 45px;
                }
            }

            .access-inner {
                font-size: 13px;
                margin: -60px auto 0 auto;
                width: 1100px;
                display: flex;
                margin-bottom: 64px;

                img {
                    width: 50%;
                    border-radius: 20px;
                }

                .access-txt {
                    padding: 55px 0 0 85px;
                    line-height: 2.5;

                    p {
                        margin-bottom: 30px;
                    }
                }
            }

            .text {
                margin: 0 auto;
                padding: 10px;
                line-height: 30px;
                font-size: 13px;
                border: 1px solid #333333;
                width: 430px;
                height: 155px;
                text-align: center;
                margin-bottom: 103px;
            }
        }
    }

    iframe {
        width: 100%;
        background-color: #ffffff;
    }
}

// ヘッダー //
footer {
    background-color: #ffffff;

    .footer-wrapper {
        margin: 0 auto 40px auto;
        width: 1100px;

        h1 {
            padding: 48px 0 50px 0;
            margin-left: -20px;
        }

        .icon-contents {
            display: flex;

            figure {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 10px;

                .fa-brands {
                    font-size: 50px;
                }

                p {
                    padding-left: 5px;
                }
            }
        }

        figure:nth-child(1) :hover {
            color: #1877F2;
        }

        figure:nth-child(2) :hover {
            color: #00B900;
        }

        figure:nth-child(3) :hover {
            color: rgb(76, 100, 211);
            background-image: linear-gradient(200deg, rgba(76, 100, 211, 1) 0%, rgba(207, 46, 146, 1) 33%, rgba(242, 105, 57, 1) 66%, rgba(255, 221, 131, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        figure:nth-child(4) :hover {
            color: #3b5998;
        }



        p {
            text-align: right;
        }
    }
}